body {
  font-family: lato;
  background: url("https://s-media-cache-ak0.pinimg.com/originals/be/2a/94/be2a940c4ac312bf5abc0aa9677749de.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header {
  width: 100%;
  text-align: center;
}
.column-1, .column-2 {
  padding: 0% 1% 1% 1%;
  height: 80vh;
  overflow-y: scroll;
  display: inline-block;
  width: 47%;
}
footer {
  width: 100%;
  padding: 10px 2px;
}