#octopus {
  z-index: 1;
  margin: auto;
  display: block;
  padding-top: 150px;
}
#hat {
  z-index: 3;
  position: relative;
  top: -350px;
  left: 340px;
}
#glasses {
  z-index: 2;
  position: relative;
  top: -298px;
  left: 125px;
}